
body{
   background-image: url("election-commisio.png");
   background-size: cover;
}

header{
    display: flex;
    justify-content: center;

}
h3{
    margin-left: 40px;
    font-size: 30px;
    border: 2px solid black;
    border-radius: 10px;
}
.box{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50%;
    margin-top: 5px;
}
.box:hover{
    border: 5px solid black;
}
#pti{
    margin-left: 110px;
    margin-top:40px ;
    color: red;
    border-radius: 5px;
}
#pmln{
    margin-left: 110px;
    margin-top:40px ;
    color: green;
    border-radius: 5px;
}
#mqm{
    margin-left: 110px;
    margin-top:40px ;
    color: orange;
    border-radius: 5px;
}
#tlp{
    margin-left: 110px;
    margin-top:40px ;
    color: rgba(48, 45, 45, 0.413);
    border-radius: 5px;
}
#ppp{
    margin-left: 110px;
    margin-top:40px ;
    border-radius: 5px;
}
.final{
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.box1{
background-image: url("PTI-logo.jpg");
background-size: cover;
}
.box2{
background-image: url("pmln.jpeg");
background-size: 200px;
}
.box3{
background-image: url("MQM.jpeg");
background-size: cover;
}
.box4{
background-image: url("PPP.png");
background-size: cover;
}
.box5{
background-image:url("tlp\ logo.webp");
background-size: cover;
}
#vote-results{
    display: flex;
    justify-content: space-evenly;
    border: 2px solid black;
    border-radius: 5px;
    color: rgb(14, 32, 14);
    margin-top: 80px;
}
#pti-votes{
    border: 2px solid red;
    border-radius: 2px;
    margin-left: 5px;
}
#pmln-votes{
    border: 2px solid green;
    border-radius: 2px;
    margin-left: 5px;
}
#mqm-votes{
    border: 2px solid orange;
    border-radius: 2px;
    margin-left: 5px;
}
#ppp-votes{
    border: 2px solid black;
    border-radius: 2px;
    margin-left: 5px;
}
#tlp-votes{
    border: 2px solid  rgba(48, 45, 45, 0.413);
    border-radius: 2px;
    margin-left: 5px;
}
#total-votes{
    border: 4px solid black;
    margin-left: 5px;
    font-size: 15px;
    font-weight: bolder;
}
#winner{
    border: 4px solid black;
    margin-left: 5px;
    font-size: 15px;
    font-weight: bolder;
}